.details {
  background-color: #232323;
  color: white;
  padding: 0.5em;
  margin: 0 auto;
  text-align: left;
  /* border-radius: 0.5em; */
}

.label {
  width: 4em;
  text-align: right;
  display: inline-block;
  margin-right: 1em;
}

.detail {
  display: inline-block;
}