.footer {
  font-size: 1em;
  background-color: var(--blue-1);
  border-top: 1px solid var(--blue-9);
  /* background-color: rgb(227, 231, 240); */
  text-align: right;
  margin-top: 1em;
  padding: 0.5em;
  height: 2.2em;
}

@media (min-width: 800px) {
  .wrapper {
    margin: 1.2em;
  }
}
