{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "react-app/jest"
  ],
  "globals": {
    "React": true
  },
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "semi": 1,
    "padded-blocks": 0,
    "object-curly-newline": 0,
    "no-plusplus": 0,
    "space-infix-ops": 0,
    "linebreak-style": ["error", "windows"],
    "comma-dangle": ["error", "never"],
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".jsx"] }]
  }
}