@import "open-props/blue";
@import "open-props/gray";

.wrapper {
  columns: 1;
  margin: 2em 0em;
  /* column-gap: 3px;
  column-width: 100%; */
  text-decoration: none;
  color: black;
}

.link {
  user-select: none;
  padding: 0.5em;
  margin: 0 1em 0.75em 1em;
  background-color: var(--gray-0);
  /* border: 1px solid white; */
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 1px solid var(--blue-4);
}

.link:hover {
  cursor:pointer;
  background-color: var(--blue-1);
}

.accordian {
  height: 0;
  visibility: hidden;
}