.FFD {
  margin-right: 0.2em;
  padding: 0.5em 1em;
  background-color: rgb(215, 213, 233);
}

.FFD:not(.disabled):hover {
  cursor: pointer;
  background-color: rgb(115, 158, 219);
}

.disabled {
  opacity: 30%;
}