@import "open-props/gray";
@import "open-props/yellow";

.details {
  background-color: var(--gray-8);
  color: white;
  font-size: 1em;
  font-weight: 200;
  padding: 0.5em 0.3em;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
}

.label {
  width: 6em;
  color: var(--yellow-2);
  text-align: right;
  display: inline-block;
  margin-right: 1em;
}

.detail {
  display: inline-block;
}

.downloadSwatch {
  border-radius: 10px;
  font-size: 0.7em;
  margin-top: 1em;
  padding: 0.25em 0.5em;
  background-color: var(--gray-5);
}

.downloadSwatch:hover {
  cursor: pointer;
  background-color: var(--gray-6);
}