@import "open-props/gray";
@import "open-props/green";
@import "open-props/yellow";

.details {
  background-color: var(--gray-8);
  color: white;
  font-size: 1em;
  font-weight: 200;
  padding: 0.5em 0.3em;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
}

.label {
  width: 6em;
  color: var(--yellow-2);
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
  margin-right: 1em;
}

.detail {
  display: inline-block;
  line-height: 1.5em;
}

.downloadSwatch {
  font-size: 0.8em;
  border-radius: 5px;
  padding: 0.2em 1.4em;
  color: var(--gray-3);
  background-color: var(--gray-7);
}

.downloadSwatch:hover {
  cursor: pointer;
  color: black;
  background-color: var(--gray-6);
}

.type {
  display: inline-block;
  margin-right: 0.25em;
}

.type:not(:last-child):after {
  content: ','
}

.highlight {
  color: var(--green-3);
}

.disabled {
  user-select: none;
  opacity: 0.4;
}
