@import "open-props/green";

.directional {
  margin-right: 0.1em;
  padding: 0.25em 0.75em;
  background-color: var(--green-2);
}

@media (min-width: 1024px) {
  .directional {
    padding: 0.5em 1em;
  }
}

.directional:not(.disabled):hover {
  cursor: pointer;
  background-color: var(--green-5);
}

.disabled {
  user-select: none;
  opacity: 0.4;
}

.previous {
  margin-right: 0.5em;
}

.next {
  margin-left: 0.5em;
}

[data-id="rwd"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

[data-id="ffd"] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}