.header {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.6em;
  text-align: center;
  background-color: rgb(227, 231, 240);
}

.submenu ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
}

.submenu li {
  display: inline;
  margin-right: 1em;
}

.submenu li a {
  text-decoration: none;
  color: black;
}

.submenu a:not(.active):hover {
  color: green;
}

.submenu li .active {
  text-decoration: none;
  font-weight: 700;
}