.article {
  min-height: 100%;
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr)); */
  /* grid-gap: 16px; */
}

.header,
.main,
.footer {
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 1em 0.5em;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.footer {
  text-align: right;
  border-top: 1px solid #232332;
}